/* Fondo general */
body {
  background-color: #0b0b0b;
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Contenedor centrado */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Caja del formulario */
.login-box {
  background: #1a1a1a;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 128, 0.15);
  text-align: center;
  width: 100%;
  max-width: 350px;
}

/* Título superior ECO-MODA */
.brand-title {
  color: #00c26e;
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: 700;
}

/* Subtítulo Entrar */
.login-title {
  margin-bottom: 20px;
  font-weight: 600;
  color: #e6e6e6;
}

/* Inputs */
.login-box input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2a2a2a;
  color: white;
  font-size: 0.9rem;
}

.login-box input:focus {
  outline: 2px solid #00c26e;
}

/* Botón */
.login-box button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #00c26e;
  color: #0b0b0b;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.login-box button:hover {
  background-color: #00e67e;
}

/* Texto inferior */
.register-text {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #ccc;
}

.register-text a {
  color: #00c26e;
  text-decoration: none;
}

.register-text a:hover {
  text-decoration: underline;
}
